[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
coremltools = "*"
onnxmltools = "*"

[scripts]
caffe2coreml2onnx = "python scripts/caffe2coreml2onnx.py"
